<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINHOME</title>
</head>
<body>
    <a href="/ManageNotification">LoginPage</a><br>
    <a href="/ManageSubjects">Complaints</a><br>
    <a href="/ManageCourse">ManageCourse</a><br>
    <a href="/ManageDept">ManageDept</a><br>
    <a href="/ManageNotification">ManageNotification</a><br>
    <a href="/ManageStaff">ManageStaff</a><br>
    <a href="/ManageStudent">ManageStudent</a><br>
    <a href="/ManageSubjects">ManageSubjects</a><br>
    <a href="/ViewProfile">ViewProfile</a>
</body>
</html>