<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 300px;
        }
    </style>
</head>
<body>
    <table border="3">
        <tr>
            <th>Complaint type</th>
            <th>Student id</th>
            <th>Department id</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Reply</th>
            <th>Created date</th>
            <th>Resolved date</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.ComplaintType }}</td>
            <td>{{ i.STUDENT.RollNumber}}</td>
            <td>{{i.DEPARTMENT.DepartmentName}}</td>
            <td>{{ i.Subject }}</td>
            <td>{{ i.Description }}</td>
            <td>
                {% if i.Reply == "pending" %}
                    <input type="text">
                    <input type="submit">
                {% else %}
                
                {{ i.Reply }}
                {% endif %}
            </td>
            <td>{{ i.CreatedDate }}</td>
            <td>{{ i.ResolvedDate }}</td>
        </tr>
        {% endfor %}
    </table><br>
    <button type="submit">SUBMIT</button>
</body>
</html>