<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 150px;
        }
    </style>
</head>
<body>
    <table border="3">
    <tr>
        <th>Course name</th>
        <th>Course Credit</th>
        <th>Created Date</th>
    </tr>
        {% for i in val %}
    <tr>
        <td>{{ i.CourseName }}</td>
        <td>{{ i.CourseCredit }}</td>
        <td>{{ i.CreatedDate }}</td>
    </tr>
     {% endfor %}
   </table> 
   <button type="submit">SUBMIT</button>
</body>
</html>