<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 200px;
        }
    </style>
</head>
<body>
    <table border="3">
        <tr>
            <th>Sub name</th>
            <th>Department id</th>
            <th>Course id</th>
            <th>Semester</th>
            <th>Type</th>
        </tr>
        {% for i in val %} 
        <tr>
            <td>{{ i.SubjectName }}</td>
            <td>{{i.DEPARTMENT.DepartmentName}}</td>
            <td>{{i.COURSE.CourseName}}</td>
            <td>{{ i.Semester }}</td>
            <td>{{ i.Type }}</td>
        </tr>
      {% endfor %}  
    </table>
    <button type="submit">SUBMIT</button>
</body>
</html>