<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 300px;
        }
    </style>
</head>
<body>
    <table border="3">
    <tr>
        <th>Department id</th>
        <th>Staff id</th>
        <th>name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Join Date</th>
        <th>Profile Image</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
    </table>
    <button type="submit">SUBMIT</button>
</body>
</html>