<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 400px;
        }
    </style>
</head>
<body>
   <table border="3">
    <tr>
        <th>Student id</th>
        <th>Roll no</th>
        <th>name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Department id</th>
        <th>Course id</th>
        <th>Semester</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Admission Date</th>
        <th>Profile Image</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
    </table> <br>
    <button type="submit">SUBMIT</button>
</body>
</html>