<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 400px;
        }
    </style>
</head>
<body>
   <table border="3">
    <tr>
        <th>Roll no</th>
        <th>name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Department id</th>
        <th>Semester</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Admission Date</th>
        <th>Profile Image</th>
    </tr>
    {% for i in val %}
    <tr>
        <td>{{ i.RollNumber}}</td>
        <td>{{ i.Name }}</td>
        <td>{{ i.Gender }}</td>
        <td>{{ i.DateofBirth }}</td>
        <td>{{i.DEPARTMENT.DepartmentName}}</td>
        <td>{{ i.Semester }}</td>
        <td>{{ i.Email }}</td>
        <td>{{ i.Phone }}</td>
        <td>{{ i.Address }}</td>
        <td>{{ i.AdmissionDate }}</td>
        <td>{{ i.ProfileImage }}</td>
    </tr>
    {% endfor %}
    </table> <br>
    <button type="submit">SUBMIT</button>
</body>
</html>