<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <style>
        body{
            margin-left: 100px;
        }
        button{
            margin-left: 300px;
        }
    </style>
</head>
<body>
    <table border="3">
  
    <tr>
        <th>Department id</th>
        <th>name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Join Date</th>
        <th>Profile Image</th>
    </tr>
       {% for i in val %}  
    <tr>
        <td>{{ i.DEPARTMENT.DepartmentName }}</td>
        <td>{{ i.StaffName }}</td>
        <td>{{ i.Gender }}</td>
        <td>{{ i.DateofBirth }}</td>
        <td>{{ i.Designation }}</td>
        <td>{{ i.Email }}</td>
        <td>{{ i.Phone }}</td>
        <td>{{ i.JoinDate }}</td>
        <td>{{ i.ProfileImage }}</td>
    </tr>
    {% endfor %}
    </table>
    <button type="submit">SUBMIT</button>
</body>
</html>