<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewpage</title>
    <style>
      body{
        margin-left: 300px;
      }
      .container{
        border: 2px solid black;
        padding: 20px;
        width: 60%;
        background-color: white;
        
      }
      h1{
        margin-left: 100px;
      }
      .submit{
        margin-left: 10px;
      }
     .edit{
        margin-left: 250px;
     }
     
  
    </style>

</head>
<body>
      <div class="container">
      <h1>PERSONAL DETAILS</h1><br>
      <img src=""><br><br><br>
      <label>Name      :</label><br><br>
      <label>Id        :</label><br><br>
      <label>DOB       :</label><br><br>
      <label>Gender    :</label><br><br>
      <label>Department:</label><br><br>
      <label>Email     :</label><br><br>
      <label>Phone     :</label><br><br>
      <label>Address   :</label><br><br>
      <label>Joindate  :</label><br><br><br>
      <button type="button"class="edit">EDIT</button>
      <button type="button"class="submit">SUBMIT</button>
      </div>
      
</body>
</html>